@page "/"
@inject ISeriesService SerieService

<div class="container p-10 mb-5">
    @if (_series.Any()){
    <MudGrid Spacing="3" Justify="Justify.FlexStart">
        @foreach (var serie in _series)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <MudCard Class="CardMainContainer h-100 rounded-4" Elevation="8" Hover="true">
                    <MudCardMedia 
                        Image="@serie.image" 
                        Class="cardImage card-media object-fit-cover rounded-5 m-1"
                        Style="background-size: cover; background-position: center;" />
                
                    <MudCardContent Class="py-4">
                            <MudText Typo="Typo.h6" Class="CardTitle text-truncate mb-2">
                            @serie.title
                        </MudText>

                            <MudText Typo="Typo.body2" Class="CardSubtitle mb-2">
                                <MudIcon Size="Size.Small" Class=" mr-1" Icon="@Icons.Material.Filled.EmojiPeople" />
                            @serie.creator
                        </MudText>

                            <MudText Typo="Typo.caption" Class="CardSubtitle">
                                <MudIcon Size="Size.Small" Class="mr-1" Icon="@Icons.Material.Filled.Tv" />
                            @serie.channel
                        </MudText>
                    </MudCardContent>

                    <MudCardActions Class="container justify-content-around px-4 pb-4">
                            <MudButton Variant="Variant.Filled"
                                       Class="CardButton"
                                       Size="Size.Medium"
                                       StartIcon="@Icons.Material.Filled.Search"
                                       Href=@($"/ver-detalle/{serie._id}")>
                                Detalle
                            </MudButton>
                            <MudButton Variant="Variant.Filled"
                                       Class="CardButton"
                                       Size="Size.Medium"
                                       StartIcon="@Icons.Material.Filled.Update"
                                       Href=@($"/actualizar-serie/{serie._id}")>
                                Actualizar
                            </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
    }else
    {
        <MudContainer Class="text-center py-16">
            <MudIcon Icon="Icons.Material.Filled.Movie" Size="Size.Large" Color="Color.Primary" Class="mb-4" />
            <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-2">No hay series disponibles</MudText>
            <MudText Typo="Typo.body1" Color="Color.Secondary">Agrega algunas series para comenzar</MudText>
        </MudContainer>
    }
</div>

@code{
    private List<SerieResponseDto> _series = new List<SerieResponseDto>();

    protected override async Task OnInitializedAsync() => await Result();

    private async Task Result()
    {
        var response = await SerieService.GetAllSeriesAsync();
        _series = response.ToList();
    }
}